@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato-thin-webfont.woff2') format('woff2'),
         url('../fonts/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../lato-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background: rgb(0, 171, 201);
    color: white;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 1;
}

img{
    max-width: 100%;
}

.btn-scroll-top{
    background-color: rgb(0, 171, 201);
    padding: 15px 17px;
    border-radius: 5px;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
    opacity: 0%;
    transition: opacity 1s;
}

.container{
    margin: auto;
    max-width: 1000px;
    padding: 0px 20px;
}

.main-menu{
    position: relative;
    top: 0%;
    margin: auto;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
}

.sub-menu-black{
    background-color: rgb(36, 43, 51);
    color: white;
    font-family: 'latoregular';
}

.flex-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-left-block{
    font-size: 13px;
}

.black-right-block{
    font-size: 13px;
}

.sub-menu-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.black-left-block .sub-menu-flex a{
    text-decoration: none;
    color: white;
}

.sub-menu-flex a{
    text-decoration: none;
    color: rgb(36, 43, 51);
}

.sub-menu-flex select{
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 5px 10px;
    background-color: rgb(36, 43, 51);
    border: none;
    color: white;
    font-family: 'latoregular';
    background-image: url('../images/icons/dropdown_icon.png');
}

.sub-menu-white{
    background-color: white;
    padding: 10px 0px;
}

.white-left-block{
    font-family: 'Montserrat-Bold';
    color: rgb(36, 43, 51);
}

.white-right-block{
    display: flex;
    align-items: center;
}

.menu-list ul{
    margin: 0;
    padding: 0;
}

.menu-list ul li{
    list-style: none;
    display: inline-block;
    /* margin: 30px 16px; */
}

.menu-list ul li a{
    text-decoration: none;
    font-family: 'Montserrat-Regular';
    font-size: small;
    color: rgb(36, 43, 51);
    padding: 31px 16px;
}

.menu-list ul li a.active{
    border-bottom: 3px solid rgb(0, 171, 201);
    font-weight: bold;
}

.menu-list ul li a:hover{
    border-bottom: 3px solid rgb(0, 171, 201);
}

.check-out-cart{
    padding: 20px 20px;
}

.openbtn{
    background-color: white;
    border-radius: 5px;
    display: none;
    margin-left: 20px;
}

.strip div {
    height: 3px;
    border-radius: 2px;
    background: rgb(36, 43, 51);
    margin: 5px;
    width: 23px;
}

.closebtn .burger-strip div:first-child {
    transform: translateY(8px) rotate(45deg);
}
.closebtn .burger-strip div:nth-child(2) {
    opacity: 0;
}
.closebtn .burger-strip div:last-child {
    transform: translateY(-8px) rotate(-45deg);
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 171, 201); /* Black fallback color */
    background-color: rgba(0, 171, 201, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: dimgray;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-family: 'Montserrat-Regular';
}

.overlay a.active{
    color: white;
}

  /* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 4%;
    font-size: 60px;
}

.news-breadcrumb{
    background-color: whitesmoke;
    padding: 20px 0px;
}

.breadcrumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-breadcrumb h6{
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: dimgray;
}

.right-breadcrumb h6{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;
    color: dimgray;
}

.right-breadcrumb a{
    font-family: 'Montserrat-Medium';
    text-decoration: none;
    color: dimgray;
}

.main-container{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%;
}

.card{
    display: flex;
    gap: 20px;
    padding: 30px 0px;
}

.card:not(:last-child){
    border-bottom: 2px solid whitesmoke;
}

.date{
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    line-height: 32px;
    background-color: rgb(0, 171, 201);
    color: white;
    padding: 8px 10px;
}

.month{
    font-family: 'Montserrat-Regular';
    font-size: 11px;
    line-height: 32px;
    background-color: rgb(43, 50, 58);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-desc h2{
    font-family: 'Montserrat-Light';
    font-size: 24px;
    line-height: 32px;
    color: rgb(43, 50, 58);
}

.card-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-desc h6{
    font-family: 'Montserrat-Light';
    font-size: 11px;
    line-height: 49.29px;
    text-transform: uppercase;
    color: #999999;
}

.card-desc p{
    font-family: 'latoregular';
    font-size: 15px;
    line-height: 26px;
    color: #777777;
}

.card-desc a{
    background-color: rgb(81, 95, 111);
    width: fit-content;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 1s;
}

.card-desc a:hover{
    background-color: rgb(0, 171, 201);
}

.side-column{
    display: flex;
    flex-direction: column;
    width: 28%;
    padding-top: 30px;
    gap: 30px;
}

.search-form{
    position: relative;
}

.search-form input{
    width: 100%;
    font-family: 'latoregular';
    font-size: 15px;
    line-height: 28px;
    border: 2px solid rgb(245, 245, 245);
    outline: none;
    color: dimgray;
    padding: 10px 40px 10px 20px;
}

.search-form input:focus{
    border: 2px solid lightgray;
}

.search-form input::placeholder{
    color: #bdbdbd;
}

.search-form a{
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translateY(-50%);
}

.blue-line{
    text-decoration: line-through 3px solid rgb(0, 171, 201);
    color: transparent;
}

.sub-flex-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-flex-div h2{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: rgb(43, 50, 58);
}

.side-column-photostream-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.sidecolumn-photostream-container img{
    width: 32%
}

.post{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.post-img{
    background-color: rgb(0, 171, 201);
    padding: 15px;
}

.post-content h6.post-header{
    font-family: 'Montserrat-Regular';
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    border: none;
    color: rgb(43, 50, 58);
}

.post-date{
    font-family: 'latoregular';
    font-size: 13px;
    line-height: 26px;
    color: #999999;
}

.popular-tags-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

a.popular-tag{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    font-size: 11px;
    color: #777777;
    padding: 5px 10px;
    background-color: rgb(236, 236, 236);
    transition: all 0.5s;
}

a.popular-tag:hover{
    background-color: rgb(0, 171, 201);
    color: white;
}

/* --------------------------------------- */
footer{
    position: static;
    bottom: 0;
}

.main-footer{
    background-color: rgb(36, 43, 51);
}

.main-flex-container{
    padding: 50px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* gap: 10px; */
    flex-wrap: wrap;
}

.sub-flex-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    padding: 20px 10px;
}

.company-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-name h2{
    font-family: 'Montserrat-Bold';
    color: white;
    text-transform: uppercase;
}

.sub-flex-container p{
    font-family: 'Montserrat-SemiBold';
    font-size: x-small;
    color: rgb(150, 150, 150);
    line-height: 2.0;
}

.company-addr{
    display: flex;
    gap: 10px;
}

.company-addr p{
    font-family: 'Montserrat-Light';
    color: white;
    text-transform: uppercase;
    font-size: xx-small;
}

.company-mail{
    display: flex;
    gap: 10px;
}

.company-mail a{
    font-family: 'Montserrat-Light';
    color: white;
    text-transform: uppercase;
    font-size: xx-small;
    text-decoration: none;
}

.company-phone{
    display: flex;
    gap: 10px;
}

.company-phone a{
    font-family: 'Montserrat-Light';
    color: white;
    text-transform: uppercase;
    font-size: xx-small;
    text-decoration: none;
}

.sub-flex-container h4{
    font-family: 'Montserrat-Light';
    color: white;
    text-transform: uppercase;
    font-size: small;
    border-bottom: 2px solid rgb(0, 171, 201);
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: fit-content;
}

.tweet{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tweet-img{
    background-color: rgb(52, 57, 63);
    padding: 15px;
}

.tweet-content p.tweet-header{
    font-family: 'Montserrat-Light';
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    border: none;
    padding: 0%;
    margin: 0%;
}

.tags-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

a.tag{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold';
    font-size: xx-small;
    color: rgb(150, 150, 150);
    padding: 3px 20px;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 20px;
    transition: background-color 0.5s;
}

a.tag:hover{
    background-color: rgb(0, 171, 201);
    border-color: rgb(0, 171, 201);
    color: white;
}

.photostream-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.photostream-container img{
    width: 60px;
    height: 60px;
}

.footer-separator{
    max-width: 100%;
    border-top: 1px solid rgb(150, 150, 150);
}

.copyright-footer{
    background-color: rgb(28, 31, 36);
}

.copyright-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.copyright-left-block p{
    color: rgb(150, 150, 150);
    font-family: 'Montserrat-Regular';
    font-size: x-small;
    text-transform: uppercase;
}

.copyright-left-block span{
    color: white;
}

.copyright-right-block ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.copyright-right-block ul li{
    display: inline-block;
    margin-left: 10px;
}

.copyright-right-block ul li a{
    color: rgb(150, 150, 150);
    font-family: 'Montserrat-Regular';
    font-size: x-small;
    text-transform: uppercase;
    text-decoration: none;
}

.copyright-right-block ul li a:hover{
    color: white;
}

.copyright-right-block ul li.separator{
    background: dimgray; 
    width: 1px;
    height: 8px;
}